{% extends "base.html" %}

{% block title %}Produkty{% endblock %}

{% block content %}
<main class="row mt-5">

    <div class="col-sm-12 col-md-2"></div>
    <div class="col-sm-12 col-md-8">

        <div class="container"> <p class="h3">{{ device.name }} {{ device.model }}</p></div>
        <div class="container row mt-3">

            <div class="col-sm-12 col-md-6">
                <img src="/{{ device.image }}" style="width: 18rem;" class="card-img-top " alt="...">
            </div>
            <div class="col-sm-12  border-start col-md-6">
                <span class="d-flex"><i class="bi bi-arrows-angle-expand me-3"></i><p>{{ specification.size }}"</p></span>
                <span class="d-flex"><i class="bi bi-cpu  me-3"></i><p>{{ specification.processor }}</p></span>
                <span class="d-flex"><i class="bi bi-memory me-3"></i><p>{{ specification.ram }} GB</p></span>
                <span class="d-flex"><i class="bi bi-hdd me-3"></i><p>{{ specification.memory }} GB</p></span>
            </div>
        </div>
        <div class="card-body my-3 pt-3 border-top">
            <p class="card-text">
                Seria narzo od realme to odpowiedź na prośby użytkowników, którzy potrzebują taniego i wszechstronnego urządzenia. Ostatnią premierą z tej serii był model 50A Prime, który oferuje całkiem niezły stosunek ceny do jakości.
            </p>
            <p class="card-text">
                Pod względem wzornictwa jest to dość spora nowość dla realme, który dopiero od niedawna decyduje się na proste, wręcz kanciaste ramki w swoich smartfonach. Te wykonano z tworzywa sztucznego, natomiast front tego smartfona stanowi oczywiście szkło. Całość jednak prezentuje się zaskakująco dobrze i tak samo też leży w dłoni, nawet pomimo sporego rozmiaru. Model realme narzo 50A Prime działa pod kontrolą Androida 11 z nakładką realme UI 2.0.
            </p>
            <p class="card-text">
                Ten smartfon może nie powala pod względem wydajności, ale nawet mimo tego, bardzo dobrze radzi sobie w codziennych zadaniach. Na pleckach, w charakterystycznej dla realme wyspie, znalazły się łącznie 3 aparaty. Jednak tylko główny ma tutaj jakiekolwiek znaczenie. Do Waszej dyspozycji jest matryca o rozdzielczości 50 Mpix. Z kolei na froncie, w wycięciu w kształcie kropli wody, znalazła się pojedyncza matryca 8 Mpix.
            </p>
        </div>
        <div class="card-body my-3 pt-3 border-top">

            <div class="row">
                <div class="col-sm-12  col-md-4 ps-3 pt-2">
                    <p class="fs-5">Nazwa Użytkownika</p>
                </div>
                <div class="col-sm-12  col-md-8 ps-3 pt-5">
                    <p >Jakiś komentarz coś tam nw co blablablabalblabalbalba en smartfon może nie powala pod względem wydajności, ale nawet mimo tego, bardzo dobrze radzi sobie w codziennych zadaniach. Na pleckach, w charakterystycznej dla realme wyspie, znalazły się łącznie 3 aparaty. Jednak tylko główny ma tutaj jakiekolwiek znaczenie. Do Waszej dyspozycji jest matryca o rozdzielczości 50 Mpix. Z kolei na froncie, w wycięciu w kształcie kropli wody, znalazła się pojedyncza matryca 8 Mpix.
                    </p>
                    <button class="btn btn-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#komentarz" aria-controls="komentarz" aria-expanded="false" aria-label="Przełącznik kom">
                        <p>Dodaj komentarz</p>
                    </button>
                    
                </div>
                <div class="collapse justify-content-between" id="komentarz">
                    <form action="#" class="border border-2 rounded-3 p-3 mb-3">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nazwa użytkownika</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" >
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">TReść komentarza</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                            </div>
                    </form>
                </div>
                
            </div>
            <div class="row d-flex">
                <div class="col-sm-1  col-4 ">
                    
                </div>

                <div class="col-sm-11  col-8 "></div>
                    <div class="row border-start border-4">
                        <div class="col-sm-12  col-md-4 ps-3 pt-2">
                            <p class="fs-5">Nazwa Użytkownika</p>
                        </div>
                        <div class="col-sm-12  col-md-8 ps-3 pt-5">
                            <p >Jakiś pod komentarz coś tam nw co blablablabalblabalbalba en smartfon może nie powala pod względem wydajności, ale nawet mimo tego, bardzo dobrze radzi sobie w codziennych zadaniach. Na pleckach, w charakterystycznej dla realme wyspie, znalazły się łącznie 3 aparaty. Jednak tylko główny ma tutaj jakiekolwiek znaczenie. Do Waszej dyspozycji jest matryca o rozdzielczości 50 Mpix. Z kolei na froncie, w wycięciu w kształcie kropli wody, znalazła się pojedyncza matryca 8 Mpix.
                            </p>
                        </div>
                        
                    </div>
                </div>

            </div>
            <form action="#" class="border border-2 rounded-3 p-3 mb-3">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nazwa użytkownika</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" >
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">TReść komentarza</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
            </form>
            
            
            
        </div>
        


    </div>
    <div class="col-sm-12 col-md-2"></div>
    </main>
{% endblock %}