{% extends "base.html" %}

{% block title %}Produkty{% endblock %}

{% block content %}
<main class=" container">

    <div class="row justify-content-center mt-5">
        <div class="col-sm-12 col-md-8 ">
            <!-- Przyciski NAZWA PRODUKTU -->
            <div class="container"> 
                <p class="h3">{{ device.brand }} {{ device.model }}</p>
            </div>
            <!-- Przyciski DANE TECH -->
            <div class="container row mt-3">
    
                <div class="col-sm-6 col-md-6">
                    <img src="/{{ device.image }}" style="width: 18rem;" class="card-img-top " alt="main_foto">
                </div>
                <div class="col-sm-6  border-start col-md-6">
                    {% if specification.SCREEN_SIZE %}
                    <span class="d-flex"><i class="bi bi-arrows-angle-expand me-3"></i>{{ specification.SCREEN_SIZE }}"</span>
                    {% endif %}
                    {% if specification.SCREEN_TYPE %}
                    <span class="d-flex"><i class="bi bi-award me-3"></i><p>{{ specification.SCREEN_TYPE }}</p></span>
                    {% endif %}
                    {% if specification.CPU %}
                    <span class="d-flex"><i class="bi bi-cpu  me-3"></i><p>{{ specification.CPU }}</p></span>
                    {% endif %}
                    {% if specification.RAM %}
                    <span class="d-flex"><i class="bi bi-memory me-3"></i><p>{{ specification.RAM }} GB</p></span>
                    {% endif %}
                    {% if specification.DISC %}
                    <span class="d-flex"><i class="bi bi-hdd me-3"></i><p>{{ specification.DISC }} GB</p></span>
                    {% endif %} 
                    {% if specification.BATTERY %} 
                    <span class="d-flex"><i class="bi bi-battery-full me-3"></i><p>{{ specification.BATTERY }} mAh</p></span>
                    {% endif %} 
    
                </div>
            </div>
             <!-- Przyciski ULUBIONE TOMEK -->
            <div class="card-body my-3 pt-3 border-top">
                <div class=" d-flex">
                    <div class="me-2">
                    {% if user.is_authenticated %}
                        {% if user_likes_device %}
                            <form action="{% url 'remove_like' device.id_device %}" data-post-id="{{ post.id }}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">
                                    <i class="bi bi-hand-thumbs-up-fill"></i> {{ like_count }} UnLike
                                </button>
                            </form>
                        {% else %}
                            <form action="{% url 'add_like' device.id_device %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-primary">
                                    <i class="bi bi-hand-thumbs-up"></i> {{ like_count }} Like
                                </button>
                            </form>
                        {% endif %}
                    {% else %}
                        <button type="submit" class="btn btn-outline-primary"  data-bs-toggle="collapse" data-bs-target="#alert" aria-controls="alert" aria-expanded="false" aria-label="alert">
                            <i class="bi bi-hand-thumbs-up"></i> {{ like_count }}
                        </button>
                    {% endif %}
                    </div>
                    <div class="me-2">
                        {% if user.is_authenticated %}
                            <a href ="{% url 'fav' device.id_device %}" class= "btn btn-outline-primary"><i class="bi bi-heart"></i> Dodaj do ulubionych</a>
                        {% else %}
                            <button type="submit" class="btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target="#alert-ulub" aria-controls="alert-ulub" aria-expanded="false" aria-label="alert-ulub">
                                <i class="bi bi-heart"></i></i> Dodaj do ulubionych
                            </button>
                        {% endif %}
                    </div>
                    <div class="me-2">
                        {% if user.is_authenticated %}
                            {% if user_dislikes_device %}
                                <form action="{% url 'remove_dislike' device_id=device.id_device %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">
                                        <i class="bi bi-hand-thumbs-down-fill"></i> Undislike
                                    </button>
                                </form>
                            {% else %}
                                <form action="{% url 'add_dislike' device_id=device.id_device %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-danger">
                                        <i class="bi bi-hand-thumbs-down"></i> Dislike
                                    </button>
                                </form>
                            {% endif %}

                            {% else %}
                            <button type="submit" class="btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target="#alert" aria-controls="alert" aria-expanded="false" aria-label="alert">
                                <i class="bi bi-hand-thumbs-down"></i> {{ dislike_count }}
                            </button>
                           
                        {% endif %}
                    </div>
                    
                </div>
                <div class="collapse alert alert-primary mt-3" role="alert" id="alert">
                   Aby ocenić produkt musisz być zalogowany
                </div>
                <div class="collapse alert alert-primary mt-3" role="alert" id="alert-ulub">
                    Aby dodać do ulubionych musisz być zalogowany.
                </div>
                

                
            </div>
            <!-- Przyciski "Like" i "Dislike" KONRAD 
            <div class="card-body my-3 pt-3 border-top">
                
                <div class="row">
                    <div class="col-sm-6">
                        {% if user.is_authenticated %}
                            {% if user_likes_device %}
                                <form action="{% url 'remove_like' device.id_device %}" data-post-id="{{ post.id }}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-hand-thumbs-up-fill"></i> Unlike
                                    </button>
                                </form>
                            {% else %}
                                <form action="{% url 'add_like' device.id_device %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-primary">
                                        <i class="bi bi-hand-thumbs-up"></i> Like
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                        <span class="like-count">{{ like_count }}</span> Likes
                        {% if user.is_authenticated %}
                            {% if user_dislikes_device %}
                                <form action="{% url 'remove_dislike' device_id=device.id_device %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">
                                        <i class="bi bi-hand-thumbs-down-fill"></i> Undislike
                                    </button>
                                </form>
                            {% else %}
                                <form action="{% url 'add_dislike' device_id=device.id_device %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-danger">
                                        <i class="bi bi-hand-thumbs-down"></i> Dislike
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                        <span class="dislike-count">{{ dislike_count }}</span> Dislikes
                    </div>
                    
                </div>
            </div>
            -->
            <!-- Tabela parametry SEBA -->
            <div class="card-body my-3 pt-3 ">
                
                <div class="card-body border-top">
                    <table class="table">
                        <tr>
                            <th scope="row">Nazwa systemu operacyjnego</th>
                            <th scope="row">Wersja</th>
                            <th scope="row">Data wprowadzenia</th>
                            <th scope="row">Data zakończenia wsparcia</th>
                        </tr>
                        
                        {% for os_info_id, os_info in OS_ALL.items %}
                            <tr>
                                <td>{{ os_info.name }}</td>
                                <td>{{ os_info.version }}</td>
                                <td>{{ os_info.date_start }}</td>
                                <td>{{ os_info.date_end }}</td>
                            </tr>
                    
                        {% empty %}
                            <tr>
                                <td colspan="4">Brak dostępnych informacji o systemie operacyjnym</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!-- System Kom KIRAGA -->
            <div class="card-body my-3 pt-3">
                
                <div class="card-body my-3 pt-3">
                    <!-- KOM -->
                    {% for comment in comments %}
                    <div class=" border border-2 rounded-3 mb-2 p-2">
                        
                        <!-- KOM -->
                        <div class="row">
                            <div class="col-sm-12  col-md-4 ps-3 pt-2">
                                <p class="fs-5">{{ comment.user.username }}</p>
                            </div>
                            <div class="col-sm-12  col-md-8 ps-3 pt-5">
                                <p >{{ comment.text }}</p>
                                <div class="row">
                                    <div class="container d-flex">
                                        <button class="btn btn-primary mb-2 ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#komentarz" aria-controls="komentarz" aria-expanded="false" aria-label="Przełącznik kom">
                                            Dodaj komentarz
                                        </button>
                                        <button class="btn btn-primary mb-2 ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#podkomentarz" aria-controls="podkomentarz" aria-expanded="false" aria-label="Przełącznik podkom">
                                            Rozwiń komentarze
                                        </button>
                                        <div class=" d-flex">
                                            <!--
                                            <div class="ms-3">
                                                {% if user.is_authenticated %}
                                                {% if user_likes_device %}
                                                    <form action="{% url 'remove_like' device.id_device %}" data-post-id="{{ post.id }}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-primary" >
                                                            <i class="bi bi-hand-thumbs-up-fill"></i> {{ like_count }}
                                                        </button>
                                                    </form>
                                                {% else %}
                                                    <form action="{% url 'add_like' device.id_device %}" method="post" >
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-outline-primary">
                                                            <i class="bi bi-hand-thumbs-up"></i> {{ like_count }}
                                                        </button>
                                                    </form>
                                                {% endif %}
                                            {% endif %}
                                            </div>
                                            -->
                                            <!--
                                            <div class="ms-3">
                                                {% if user.is_authenticated %}
                                                {% if user_dislikes_device %}
                                                    <form action="{% url 'remove_dislike' device_id=device.id_device %}" method="post" class="">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-danger">
                                                            <i class="bi bi-hand-thumbs-down-fill"></i> {{ dislike_count }}
                                                        </button>
                                                        
                                                    </form>
                                                {% else %}
                                                    <form action="{% url 'add_dislike' device_id=device.id_device %}" method="post" class="">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-outline-danger">
                                                            <i class="bi bi-hand-thumbs-down"></i> {{ dislike_count }}
                                                        </button>
                                                        
                                                    </form>
                                                {% endif %}
                                            {% endif %}
                                            
                                            </div>
                                            -->
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="collapse justify-content-between" id="komentarz">
                                    {% if user.is_authenticated %}
                                        <form action="#" class="border border-2 rounded-3 p-3 mb-3">
                                            <div class="mb-3">
                                                <label for="exampleFormControlTextarea1" class="form-label">Treść komentarza</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                            </div>
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary">Dodaj komentarz</button>
                                            </div>
                                        </form>
                                    {% else %}
                                        <div class=" border border-2 rounded-3 p-3 ">
                                            <p>Aby dodać komentarz musisz być zalogowany</p>
                                            <a class="btn btn-primary" href="{% url 'login' %}"> Zaloguj się </a>
                                            <a class="btn btn-primary" href="{% url 'registration' %}"> Zarejestruj się </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- PODKOM -->
                        <div class="row">
                            <div class="col-sm-1  col-md-4 ">
                            </div>
                            <div class="col-sm-11  col-md-8 ">
                                {% for reply in comment.get_replies %}
                                <div class="collapse row border-start border-4" id="podkomentarz">
                                    <div class="col-sm-12  col-md-4 ps-3 pt-2">
                                        <p class="fs-5">{{ reply.user.username }}</p>
                                    </div>
                                    <div class="col-sm-12  col-md-8 ps-3 pt-5">
                                        <p >{{ reply.text }}</p>
                                        <!-- System LIKE/DYS 
                                        <div class="row ms-3">
                                    
                                            {% if user.is_authenticated %}
                                                {% if user_likes_device %}
                                                    <form action="{% url 'remove_like' device.id_device %}" data-post-id="{{ post.id }}" class="col-sm-6 col-md-4">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-primary">
                                                            <i class="bi bi-hand-thumbs-up-fill"></i> {{ like_count }} Unlike
                                                        </button>
                                                        
                                                    </form>
                                                {% else %}
                                                    <form action="{% url 'add_like' device.id_device %}" method="post" class="col-sm-6 col-md-4">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-outline-primary">
                                                            <i class="bi bi-hand-thumbs-up"></i> {{ like_count }} Like
                                                        </button>
                                                    
                                                    </form>
                                                {% endif %}
                                            {% endif %}
                                            
                                            {% if user.is_authenticated %}
                                                {% if user_dislikes_device %}
                                                    <form action="{% url 'remove_dislike' device_id=device.id_device %}" method="post" class="col-sm-6 col-md-4">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-danger">
                                                            <i class="bi bi-hand-thumbs-down-fill"></i> {{ dislike_count }} Dislike
                                                        </button>
                                                    
                                                    </form>
                                                {% else %}
                                                    <form action="{% url 'add_dislike' device_id=device.id_device %}" method="post" class="col-sm-6 col-md-4">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-outline-danger">
                                                            <i class="bi bi-hand-thumbs-down"></i> {{ dislike_count }} Dislike
                                                        </button>
                                                        
                                                    </form>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>-->
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %}
                    <!-- DODAWANIE KOM -->
                    <form action="#" class="border border-2 rounded-3 p-3 mb-3">
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Treść komentarza</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Dodaj komentarz</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    
   
    </main>
{% endblock %}