{% extends "base.html" %}

{% load static %}

{% block content %}
<main class="container  mt-2 ">
    
    <form class="d-flex align-items-center mb-1" method="GET" action="{% url 'os' %}">
        <div class="input-group flex-grow-1">
            <label class="input-group-text" for="sort_by">Sortuj według:</label>
            <select class="form-select border-1 shadow-none" name="sort_by" id="sort_by">
                <option value="name">Nazwa</option>
                <option value="version">Wersja</option>
                <option value="devices_count">Popularność</option>
            </select>
        </div>
        <button class="btn btn-dark ms-3" type="submit">Sortuj</button>
    </form>
    
    
    <div class="row justify-content-center mt-1">
        <div class="card-body my-1 pt-1 ">  
            <div class="card-body border-top">
                <table class="table">
                    <tr>
                        <th scope="row">Nazwa systemu operacyjnego</th>
                        <th scope="row">Wersja</th>
                        <th scope="row">Data wprowadzenia</th>
                        <th scope="row">Data zakończenia wsparcia</th>
                        <th scope="row">Opis</th> 
                    </tr>
                    
                    {% for os_info_id, os_info in os_info.items %}
                        <tr>
                            <td>{{ os_info.name }}</td>
                            <td>{{ os_info.version }}</td>
                            <td>{{ os_info.date_start }}</td>
                            <td>{{ os_info.date_end }}</td>
                            <td>{{ os_info.description }}</td> 
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4"> Brak systemów w bazie </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-md-7 ">
            
            {% for item in data %}
                <div class="row position-relative border-top rounded mt-2 p-1">
                    <div class="col-md-6 mb-md-0 p-md-4">
                        <img src="/{{ item.device.image }}" class="w-100" alt="zdjęcie_telefonu">
                    </div>
                    <div class="col-md-6 p-4 ps-md-0">
                        <h5 class="mt-0">{{ item.device.brand }} {{ item.device.model }}</h5>
                        {% if item.specifications.SCREEN_SIZE %}
                        <span class="d-flex"><i class="bi bi-arrows-angle-expand me-3"></i><p>{{ item.specifications.SCREEN_SIZE }}"</p></span>
                        {% endif %}
                        {% if item.specifications.CPU %}
                        <span class="d-flex"><i class="bi bi-cpu  me-3"></i><p>{{ item.specifications.CPU }}</p></span>
                        {% endif %}
                        {% if item.specifications.RAM %}
                        <span class="d-flex"><i class="bi bi-memory me-3"></i><p>{{ item.specifications.RAM }} GB</p></span>
                        {% endif %}
                        {% if item.specifications.DISC %}
                        <span class="d-flex"><i class="bi bi-hdd me-3"></i><p>{{ item.specifications.DISC }} GB</p></span>
                        {% endif %}
                        <a href="{% url 'one_device' id=item.device.id_device %}" class="stretched-link">Czytaj więcej</a>
                    </div>
                </div>
            {% endfor %}
        
            {% if page.show_pages_controler %}
            <div class="row border-top rounded d-flex p-3">
                <div class="col-4"><p> </p></div>
                <div class="col-4">
                    <nav aria-label="Page navigation example " class="mx-auto ">
                        <ul class="pagination">
                            {% if show_arrow.0 %}
                                <li class="page-item">
                                    <a class="page-link" href="{% url 'devices' how_many_item_on_page=how_many_item_on_page page=page.previous %}{{ urlEnd }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for item in how_many_pages %}
                                <li class="page-item"><a class="page-link" href="{% url 'devices' how_many_item_on_page=how_many_item_on_page page=item %}{{ urlEnd }}">{{ item }}</a></li>
                            {% endfor %}
                            {% if show_arrow.1 %}
                                <li class="page-item">
                                    <a class="page-link" href="{% url 'devices' how_many_item_on_page=how_many_item_on_page page=page.next %}{{ urlEnd }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-4"><p> </p></div>
            </div>
            {% endif %}
        </div>
        
    </div>
</main>
{% endblock %}