{% extends "base.html" %}

{% block title %}Rejestracja{% endblock %}


{% block content %}
<main>
    <div class="container py-5">
      <div class="d-flex">
        <div class="col-3">

        </div>
        <div class="col-6 ">
          <form class="border border-2 rounded-3 p-3" action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Imię</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Nazwisko</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Username</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3">
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
          </form>
          <div class="float-end mt-3">
              <a href="{% url 'login' %}" class= "link-dark  link-offset-2 ">Sign in</a>
          </div>
        </div>
        <div class="col-3">


        </div>
      </div>


    </div>
  </main>
{% endblock %}
{% block footer %}{% endblock %}