{% extends "base.html" %}

{% block title %}Rejestracja{% endblock %}


{% block content %}
<main>
    <div class="container py-5">
      <div class="d-flex">
        <div class="col-3">

        </div>
        <div class="col-6 ">
          <h2>Rejestracja:</h2>
          </br>
          <form class="border border-2 rounded-3 p-3" action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div class="row mb-3">
             
              <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Imię" id="inputEmail3">
              </div>
            </div>
            <div class="row mb-3">
              
              <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Nazwisko" id="inputEmail3">
              </div>
            </div>
            <div class="row mb-3">
              
              <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Nazwa użytkownika" id="inputEmail3">
              </div>
            </div>
            <div class="row mb-3">
              
              <div class="col-sm-12">
                <input type="email" class="form-control" placeholder="Email" id="inputEmail3">
              </div>
            </div>
            <div class="row mb-3">
              
              <div class="col-sm-12">
                <input type="password" class="form-control" placeholder="Hasło" id="inputPassword3">
              </div>
            </div>

            <button type="submit" class="btn btn-primary col-6 offset-sm-3">Zarejestruj się</button>
          </form>
          <div class="float-end mt-3">
              <a href="{% url 'login' %}" class= "link-dark  link-offset-2 ">Wróć do logowania</a>
          </div>
        </div>
        <div class="col-3">


        </div>
      </div>


    </div>
  </main>
{% endblock %}
{% block footer %}{% endblock %}